.button {
    width: 7rem;
    height: 2.5rem;
    border: 0.15rem var(--clr-accent) solid;
    border-radius: 2rem;
    background-color: var(--clr-button-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-label {
    color: var(--clr-light);
    font-family: Montserrat, sanf-serif;
    vertical-align: middle;
}