.terminal {
  width: 30rem;
  height: 20rem;
  background-color: #000;
  border-radius: 0.7rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.terminal-head {
  background-color: #404040;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminal-head-title {
  font-family: sans-serif;
  color: #808080;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.terminal-head-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
}

.terminal-head-minimize {
  background-color: #909090;
  height: 0.2rem;
  width: 0.7rem;
  border-radius: 0.1rem;
  margin-top: 0.3rem;
}

.terminal-head-maximize {
  background-color: #909090;
  height: 0.7rem;
  width: 0.7rem;
  box-shadow: 2px -2px #b3b3b3;
  border-radius: 0.05rem;
}

.terminal-head-close {
  height: 20px;
  width: 20px;
}
.terminal-head-close:after {
  position: relative;
  content: "\d7";
  font-size: 27px;
  color: #909090;
  font-weight: bold;
  top: -5px;
  left: -5px;
}

.terminal-contents {
  padding: 1rem;
}

.terminal-contents-text {
  color: #909090;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 800;
  transition: 0.4s;
}


.terminal-style-yellow {
    color: rgb(255, 244, 97);
  }
  
  .terminal-style-green {
    color: rgb(144, 255, 144);
  }
  
  .terminal-style-orange {
    color: rgb(255, 174, 98);
  }
  
  .terminal-style-red {
    color: rgb(255, 88, 88);
  }
  
  .terminal-style-gray {
    color: rgb(80, 80, 80);
  }
  
  .terminal-style-white {
    color: rgb(241, 241, 241);
  }